.product-details-container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

}

.product-details-grid {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    column-gap: 5rem;
}

.product-details-grid img {
    height: auto;
    width: 30rem;
    object-fit: contain;
    min-width: 25rem;
}


.product-details > h1 {
    font-size: 3rem;
}

.product-details > p{
    margin: 3rem 0;
    font-size: 1.3rem;
}

.product-details > h2 {
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.product-details > h2 > span {
    font-family: sans-serif;
    font-weight: 300;
}   

.product-available{
    color: green;
    font-weight: 900;
    font-size: 1.4rem;
    margin: 1rem 0;
}

.product-unavailable{
    color: rgb(187, 33, 33);
    font-weight: 900;
    font-size: 1.4rem;
    margin: 2rem 0;
}
.product-details-btns {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.product-details-btns input {
    margin-right: 5%;
}

input[type="number"] {
    text-align: center;
    font-weight: 600;
    height: 2rem;
    width: 2.5rem;
  }

.btn-red {
    font-size: 1.2rem;
    padding: 0.7rem 1.5rem;
    color: white;
    background-color: red;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 1px -2px 19px -5px rgba(0,0,0,0.3);
    
}

.btn-red:hover {
    transform: scale(1.03);
}

@media screen and (max-width: 960px){

    .product-details-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 3rem;
    }

    .product-details-grid img {
        min-width:15rem;
        max-width: 20rem;
        height: 50%;
        width: 100%;
    }

    .product-details > h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .product-details > p{
        margin: 2rem 0;
        font-size: 1rem;
    }

    .product-details > h2 {
        font-family: sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .product-details-btns {
        display: flex;
        justify-content: center;
    }
}