*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Rating component */

.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: black;
  margin-left: 10px;
}


