.card-container{
    display: grid;
    width: 300px;
    grid-template-columns: 300px;
    grid-template-rows: 270px auto  50px;
    grid-template-areas: "image" "title" "footer";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
}

.card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }

  .card-image img{
      height: 300px;
      width: 250px;
  }

  .card-title{
    grid-area: title;
    margin: 25px;
  }
  .card-description {
    grid-area: footer; 
  }