.products-page {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.products-page h1 {
    padding: 1rem;
    font-size: 3rem;
}

.products-page-grid {
    justify-content: center;
    padding: 3rem;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-template-rows: repeat(2, 15rem);
    column-gap: 3rem;
    row-gap: 2rem;
    margin-bottom: 5rem;
}

.products-page-grid a {
    text-decoration: none;
}

@media screen and (max-width: 1190px) {
    .products-page-grid {
        grid-template-columns: repeat(2, 20rem);
        grid-template-rows: repeat(3, 15rem);
    }
}

@media screen and (max-width: 780px) {
    .products-page-grid {
        grid-template-columns: repeat(1, 20rem);
        grid-template-rows: repeat(6, 15rem);
    }
}