.footer-container {
    position: relative;
    bottom:0;
    background-color: #242424;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.footer-links {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.footer-subscription-wrapper {
    display: flex;
    justify-content: center;
}

.footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-items: center;
    margin-bottom: 24px;
    padding: 24px;
    color: #fff;
}

.footer-subscription > p {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.footer-subscription-heading {
    margin-bottom: 24px;
    font-size: 24px;
}

.footer-subscription-text {
    margin-bottom: 24px;
    font-size: 20px;
}

.footer-input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid white;
}

.footer-link-wrapper {
    display: flex;
}

.footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer-link-items h2 {
    margin-bottom: 16px;
    color: white;
}

.footer-link-items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-link-items a:hover {
    color: #e9e9e9;
}

.footer-input::placeholder {
    color: #b1b1b1;
}

.social-media {
    display: flex;
    width: 240px;
    margin-top: 1.7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
}

.social-icon-link {
    color: #fff;
    font-size: 24px;
    margin: 1rem;
}

  .website-rights {
    color: #fff;
  }

  @media screen and (max-width: 1024px) {
    .footer-links {
      padding-top: 1rem;
    }
    
    .footer-link-items {
        align-items: center;
        text-align: center;
    }
    .footer-subscription {
        text-align: center;
    }
    .footer-input {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .footer-link-wrapper {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
      .footer-links {
          flex-direction: column;
          align-items: center;
          text-align: center;
      }

      .footer-link-items{
          align-items: center;
          text-align: center;
      }
  }