.card-container {
  width: 250px;
  height: 380px;
  position: relative;
  border-radius: 0.5rem;
  margin: 1rem;
  
}

.card-container:hover {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  transform: scale(1.02);
  transition: 0.3s ease-in;
}

.product-image{
  height: 300px;

}

.product-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-body {
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  box-sizing: border-box;
  background-color: rgb(247, 247, 247);
}

.product-name{
  font-size: 1rem;
  color:black;
  text-decoration: none;
}

.product-name:hover {
  color: blue;
}

/*.card-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.5s all;
  z-index: 2;
  opacity: 0;
}*/

.card-container:hover::before{
  opacity: 1;
  
}

.card-button {
  --background-color: red;
  position: relative;
  font-size: 20px;
  padding: 0.5rem 0.5rem;
  color: white;
  background-color: var(--background-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transform: translateY(-100px);
  transition: 0.7s all;
}

.card-container:hover .card-button{
  opacity: 1;
  transform: translateY(-200px);
}



