.section-container{
    display: flex; 
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.section-title{
    padding: 2rem;
    margin-bottom: 3rem;
    justify-self: center;
    font-weight: 900;
    font-size: 3rem;
}

.section-grid {
    display: grid;
    grid-template-columns: 271px 271px 271px 271px;
    column-gap: 70px;
    
}
