.section-container{
    display: grid;  
    margin: 3rem;
}

.section-title{
    padding: 2rem;
    margin-bottom: 3rem;
    justify-self: center;
    font-weight: 900;
    font-size: 3rem;
}

.section-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 10rem 10rem 10rem 10rem;
    column-gap: 13rem;
    
}
