.slider-title{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 5rem;
}

.slider-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.slider-name{
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-weight: 900;
    font-size: 3rem;
    color: white;
}

.left-side{
    display: flex;
    width: 50%;
    height: 100vh;
    align-items: center;
    color: white;
    justify-content: center;
    background-image: url("../../Assets/images/6578261_preview.png");
    background-size: 100vh auto;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    
    
}

.right-side{
    display:flex;
    height: 100vh;
    width: 50%;
    justify-content: center;
    align-items: center;
    
}

.slider-image{
    width: 80%;
    height: 80%;
}

.fa-chevron-left{
    position: relative;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
}

.fa-chevron-right{
    position: relative;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
}

