@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


$font-logo: 'Charmonman', cursive;
$font-crimson: 'Crimson Pro', serif;
$font-hero: 'Permanent Marker', cursive;
$font-main: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;