@mixin abs-position ($top, $right, $bottom, $left) {
    position: absolute; 
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
 }

 @mixin absoluteCenter {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

@mixin responsive($width) {
    @media (max-width: $width) {
      @content;
    }
}

@mixin size ($height, $width) {
    height: $height;
    width: $width;
}
